* {
    font-family: Arial, Helvetica, sans-serif;
}


/* for important elements */

.important {
    background-color: #FFFF00;
    padding: 1em;
}

#title {
    color: rgb(0, 0, 255);
}

#yee {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#hmm {
    margin: 5% auto;
}

#donut {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#useless {
    padding: 5px;
    height: 100px;
    width: 100px;
}

h2,
p {
    color: hsla(120, 100%, 25%, 1);
}

li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

p>b {
    color: brown;
}

h3+ol {
    color: darkgoldenrod;
}

h2~ol {
    font-style: italic;
}

canvas {
    display: hidden;
}

aside {
    max-width: 50%;
    max-height: 100px;
}

a[target] {
    font-family: 'Fira Code', monospace;
    font-size: 50px;
    text-decoration: none;
    display: block;
}

a:link {
    color: blue;
}

a:visited {
    color: rgba(128, 0, 128, 255);
}

a:hover {
    color: hsl(0, 0, 0);
}

table.center {
    text-align: center;
    font-size: 30px;
    line-height: 1.5em;
    padding: 1em;
}