* {
    font-family: Arial, Helvetica, sans-serif;
}

.important {
    color: red;
}

#title {
    color: darkblue;
}

h2 {
    color: green;
}

a[target] {
    font-family: 'Courier New', Courier, monospace;
}