* {
    font-family: Arial, Helvetica, sans-serif;
}

.important {
    color: red;
}

#title {
    color: darkblue;
}

h2,
p {
    color: green;
}

li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

a[target] {
    font-family: 'Courier New', Courier, monospace;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: black;
}